@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="columns">
    <div class="column is-3">
        <div class="box has-background-transparent">
            <aside class="menu has-text-left">
                <partial name="_ManageNav" />
            </aside>
        </div>
    </div>
    <div class="column is-9">
        @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
