@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h1 class="title">@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<form id="profile-form" method="post">
    <div asp-validation-summary="All" class="has-text-danger"></div>
    <div class="field">
        <p class="control has-icons-left">
            <input asp-for="Input.Email" disabled class="input" />
            <span class="icon is-left">
                <i class="mdi mdi-email"></i>
            </span>
        </p>
    </div>
    <div class="field">
        <p class="control has-icons-left">
            <input asp-for="Input.DisplayName" disabled class="input" />
            <span class="icon is-left">
                <i class="mdi mdi-account"></i>
            </span>
        </p>
    </div>
    <div class="field">
        <p class="control has-icons-left">
            <input asp-for="Input.PublicKey" placeholder="Public Key" class="input" />
            <span class="icon is-left">
                <i class="mdi mdi-key"></i>
            </span>
        </p>
        <span asp-validation-for="Input.PublicKey" class="has-text-danger"></span>
    </div>
    <div class="field">
        <div class="control">
            <button id="update-profile-button" type="submit" class="button is-success is-fullwidth">Save</button>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}