@page
@model SetPasswordModel
@{
    ViewData["Title"] = "Set password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h1 class="title">Set your password</h1>
<partial name="_StatusMessage" for="StatusMessage" />
<p class="has-text-info">
    You do not have a local username/password for this site. Add a local
    account so you can log in without an external login.
</p>
<form id="set-password-form" method="post">
    <div asp-validation-summary="All" class="has-text-danger"></div>
    <div class="field">
        <p class="control has-icons-left">
            <input asp-for="Input.NewPassword" placeholder="Password" class="input" />
            <span class="icon is-left">
                <i class="mdi mdi-lock"></i>
            </span>
        </p>
        <span asp-validation-for="Input.NewPassword" class="has-text-danger"></span>
    </div>
    <div class="field">
        <p class="control has-icons-left">
            <input asp-for="Input.ConfirmPassword" placeholder="Confirm Password" class="input" />
            <span class="icon is-left">
                <i class="mdi mdi-lock"></i>
            </span>
        </p>
        <span asp-validation-for="Input.ConfirmPassword" class="has-text-danger"></span>
    </div>
    <div class="field">
        <div class="control">
            <button type="submit" class="button is-success is-fullwidth">Set password</button>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}