@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="columns is-mobile is-centered">
    <div class="column is-12-mobile is-10-tablet is-6-desktop is-5-widescreen is-4-fullhd">
        <div class="box has-background-transparent">
            <h1 class="title">Login to Wagering.gg</h1>
            <form id="account" method="post" class="has-text-left">
                <div asp-validation-summary="All" class="has-text-danger"></div>
                <div class="field">
                    <p class="control has-icons-left">
                        <input asp-for="Input.Email" placeholder="Email" class="input" />
                        <span class="icon is-left">
                            <i class="mdi mdi-email"></i>
                        </span>
                    </p>
                    <span asp-validation-for="Input.Email" class="help is-danger"></span>
                </div>
                <div class="field">
                    <p class="control has-icons-left has-icons-right">
                        <input asp-for="Input.Password" placeholder="Password" class="input" />
                        <span class="icon is-left">
                            <i class="mdi mdi-lock"></i>
                        </span>
                    </p>
                    <span asp-validation-for="Input.Password" class="help is-danger"></span>
                </div>
                <div class="level is-mobile">
                    <div class="level-left">
                        <div class="field">
                            <div class="control">
                                <label asp-for="Input.RememberMe" class="label">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="level-right">
                        <a id="forgot-password" class="has-text-grey is-size-6 is-pulled-right" asp-page="./ForgotPassword">Forgot?</a>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-success is-fullwidth">Log In</button>
                    </div>
                </div>
            </form>
            <p>
                Not a member? <a asp-page="./Register" class="has-text-grey" asp-route-returnUrl="@Model.ReturnUrl">Register now</a>
            </p>
            <div class="divider">OR</div>
            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div class="field">
                    <div class="control">
                        <button class="button is-fullwidth is-white has-text-weight-medium" name="provider" value="Google" type="submit">
                            <span class="icon">
                                <img class="image is-16x16" src="~/logos/google.svg" />
                            </span>
                            <span style="padding-left:.2em;">
                                Login with Google
                            </span>
                        </button>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button is-fullwidth is-twitter has-text-weight-medium has-text-white" name="provider" value="Twitter" type="submit">
                            <span class="icon">
                                <i class="mdi mdi-twitter"></i>
                            </span>
                            <span style="padding-left:.2em;">
                                Login with Twitter
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
}
