@page
@model LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = "Recovery code verification";
}

<div class="columns is-mobile is-centered">
    <div class="column is-12-mobile is-10-tablet is-6-desktop is-5-widescreen is-4-fullhd">
        <div class="box has-background-transparent">
            <h1 class="title">@ViewData["Title"]</h1>
            <p>
                You have requested to log in with a recovery code. This login will not be remembered until you provide
                an authenticator app code at log in or disable 2FA and log in again.
            </p>
            <form method="post">
                <div asp-validation-summary="All" class="has-text-danger"></div>
                <div class="field">
                    <p class="control has-icons-left">
                        <input asp-for="Input.RecoveryCode" placeholder="Recovery Code" class="input" autocomplete="off" />
                        <span class="icon is-left">
                            <i class="mdi mdi-two-factor-authentication"></i>
                        </span>
                    </p>
                    <span asp-validation-for="Input.RecoveryCode" class="has-text-danger"></span>
                </div>
                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-success is-fullwidth">Log In</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
