@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1 class="title">@ViewData["Title"]</h1>
    <p class="subtitle">You have successfully logged out of the application.</p>
</header>