@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1 class="title">@ViewData["Title"]</h1>
<p class="subtitle">
    Please check your email to confirm your account.
</p>