<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="author" content="ismellike" />
    <title>@ViewData["Title"] - Wagering.gg</title>
    <link rel="stylesheet" href="~/lib/bulma.css" />
    <link rel="stylesheet" href="~/lib/materialdesignicons.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="shortcut icon" href="~/favicon.ico" />
    <meta name="theme-color" content="#673AB7">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" />
</head>
<body>
    <section class="hero is-primary is-bold is-fullheight">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item is-size-4 has-text-white">
                            Wagering.gg
                        </a>
                        <span class="navbar-burger burger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div class="navbar-menu">
                        <div class="navbar-end">
                            <partial name="_LoginPartial" />
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                @RenderBody()
            </div>
        </div>

        <div class="hero-foot">
            <div class="tabs is-centered">
                <ul>
                    <li>
                        <a href="https://discord.gg/HmmVMs2" target="_blank">
                            <span class="icon">
                                <i class="mdi mdi-discord"> </i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/wagering.gg" target="_blank">
                            <span class="icon">
                                <i class="mdi mdi-instagram"> </i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/WageringGG" target="_blank">
                            <span class="icon">
                                <i class="mdi mdi-twitter"> </i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
